{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}


<body>
{% block content %}
<h1>Login page</h1>
 <div class="row">
    <div class="col-4">
        <form method = post>
            {% csrf_token %}
            {{ login_form| crispy }}
            <button class="btn btn-primary"  type="submit">Kirish</button>

            <span class="ms-3">Akkauntingiz yo'qmi, <a href="{% url 'users:register' %}">ro'yxatdan o'ting</a></span>
        </form>
    </div>
</div>
{% endblock content %}
</body>
</html>