{% extends 'base.html' %}

{% block title %}Books{% endblock %}
<body>
{% block content %}
<h1>Books</h1>

{% if page_obj %}

    {% for book in page_obj %}

        <div class="row mb-4">

            <div class="col-2">
                <br><br>
                <img class="default-book" src="{{ book.cover_picture.url }}" >

            </div>
            <div class="col-6 ms-4">
            <br><br>
                <h3><a href="{% url 'books:detail' book.id %}">{{ book.title }}</a> </h3>
                <p>
                    {{ book.description }}
                </p>

            </div>

        </div>
        
    {% endfor %}

    <nav aria-label="...">
      <ul class="pagination">
      {% if page_obj.has_previous %}
         <li class="page-item">
          <a class="page-link" href="{% url 'books:list' %}?page=1">&laquo; birinchi</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% url 'books:list' %}?page={{ page_obj.previous_page_number }}">oldingi</a>
        </li>

      {% endif %}
        <li class="page-item active" aria-current="page">

          <a class="page-link" href="#">{{ page_obj.number }}</a>
        </li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="{% url 'books:list' %}?page={{ page_obj.next_page_number }}">keyingi</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% url 'books:list' %}?page={{ page_obj.paginator.num_pages }}">oxirgi</a>
        </li>
      {% endif %}
      </ul>
    </nav>






{% else %}
No books found.
{% endif %}

{% endblock content %}
</body>
